/* =========================================================
   SETTINGS
   ========================================================= */
.switch-row {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 12px;
}
.switch-state {
  width: 32px;
  text-align: right;
  font-size: 16px;
  font-weight: 800;
}
